@import "../../node_modules/normalize.css/normalize";
*{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.wrapper{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}  
.dote{
    color: #fa5c65;
    font-size: 45px;
}  
@mixin flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
@mixin text {
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    color: #9aa0ab;
}
@mixin title {
    color: #465065;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.btn-more{
    color: #fa5c65;
    line-height: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    font-family: Montserrat;
    font-weight: 700;
    &:after{
        content: "\2192";
        // margin-left: 5px;
        font-size: 30px;
        
    }
  
}

.header{
    background: url("../img/header/photo__background.png") center top;
    background-size: cover;
    height: 100%;
    min-height: 1057px;
    background-repeat: no-repeat;

  
    &-content{
        padding-top:306px;
        &__title{
            max-width: 510px;
            height: 142px;
            color: #314a5b;
            font-size: 48px;
            font-weight: 700;
            // line-height: 53px;
            text-transform: uppercase;
            letter-spacing: -1.44px;
        
        }
        &__text{
            color: #314a5b;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 400;
            line-height: 40.35px;
            padding: 26px 0 41px 0;
        }
        &__btn{
            padding: 10px 50px;
            background-color: #fa5c65;
            color: #ffffff;
            font-family: "Open Sans";
            font-weight: 700;
            line-height: 48.38px;
            text-transform: uppercase;
            border: none;
            border-radius: 8px;
        }
    }
}

.main{
    margin: 86px auto 106px ;
    @include flex();
    &-content{
        margin: 0 auto;
        max-width: 260px;
        &__title{
            @include title();
        }
        &__text{
            @include text();
        }
        
    }
}

.portfolio{
    @include flex();
    
    &-right{
        // padding-right: 60px;
        
    }
    &__title{
        color: #314a5b;
        font-size: 40px;
        font-weight: 700;
        margin: 10px 0 0 0;
        text-transform: uppercase;
    }
    &__subtitle{
        color: #314a5b;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
    }
    &__text{
        @include text();
        max-width: 397px;
        padding-bottom: 20px;
        
    }
}

.team{
    position: relative;
    padding-bottom: 100px;
    
    &__title{
        color: #314a5b;
        font-size: 32px;
        font-weight: 700;
        line-height: 53.86px;
        text-transform: uppercase;
        margin: 0;
        padding-top: 100px;
        
        
        
    }
    &__subtitle{
        @include text();
        padding-bottom: 40px;
        
       
    }
    &-row{
        @include flex(); 
       
    }
    &-web{
        @include flex();
        margin: 0 auto;
    }
    &-web-right{
        padding-left: 20px;
        &__name{
            color: #314a5b; 
            font-size: 22px;
            font-weight: 700;
            line-height: 53.86px;
            text-transform: uppercase;
            margin: 0;
        }
        &__work{
            color: #f0454c;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0;
        }
        &__about{
            @include text();
            max-width: 163px;
        }
    }
    &__btn{
        position:absolute;
        right: 0;
    }
}
.social-block{
    @include flex();
    border-top:1px solid #e6eaed;
    &-left{
        &__link{
            color: #b9c0c6;
            padding-right: 15px;
            &:hover{
                color:red;
            }
        }
    }
    &-right{
        @include text();
    }
}
.Navbar {
    display: flex;
    color: #263742;
    &__Link {
        padding-right: 8px;
        text-decoration: none;
        color: #263742;
      }
    &__Items {
        display: flex;
        &--right {
            margin-left:auto;
          }
        &__list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }
      }
    &__Link-toggle {
        display: none;
      }
      .navbar__item{
        list-style: none;
        padding-right: 40px;
    }
    .navbar__social-link{
        color: #fa5c65;
        padding-right: 15px;
    }
  }
  

  @media only screen and (min-width: 770px){
   
    .navbar__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    
  }
 
  @media only screen and (max-width: 768px) {
   
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
    
  .Navbar__Items {
      display:none;
    }
      
  .Navbar__Items--right {
      margin-left:0;
    }
      
  .Navbar__ToggleShow {
      display: flex;
    }
      
  .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
    .team-info{
        text-align: center;
    }
    .portfolio-right{
        margin: 0 auto;
        max-width: 250px;
    }
  }